/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f9fc;
    color: #4a4a4a;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #accbee;
    padding: 1rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.navbar a {
    color: #333;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: #eef3f9;
    color: #006494;
    border-radius: 8px;
}

/* Container Styles */
.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
}

/* Typography */
h1 {
    font-size: 2.3rem;
    margin-bottom: 20px;
    color: #006494;
}

p {
    font-size: 1.2rem;
    color: #4a4a4a;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Buttons */
button {
    background-color: #89c2d9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #61a5c2;
}

/* Skills Section */
.skills-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.skill-item {
    background-color: #edf2f4;
    margin: 10px;
    padding: 15px;
    width: 180px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

/* Contact Section */
.contact-info p {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.contact-info a {
    color: #006494;
    font-weight: 500;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #accbee;
    color: #333;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}